<div class="grid grid-cols-5 gap-4 mt-16">
    <div>
        <a href="#" class="block p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
            <img class="h-8 w-auto" src="./images/action_medicine.png"
                        alt="Your Company">
            <h5 class="mt-2 text-base font-bold tracking-tight text-gray-900">Cần mua thuốc</h5>
        </a>    
    </div>
    <div>
        <a href="#" class="block p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
            <img class="h-8 w-auto" src="./images/action_nurse.png"
                        alt="Your Company">
            <h5 class="mt-2 text-base font-bold tracking-tight text-gray-900">Tư vấn với dược sĩ</h5>
        </a>    
    </div>
    <div>
        <a href="#" class="block p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
            <img class="h-8 w-auto" src="./images/action_location.png"
                        alt="Your Company">
            <h5 class="mt-2 text-base font-bold tracking-tight text-gray-900">Địa chỉ quầy thuốc</h5>
        </a>   
    </div>
</div>