<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reCAPTCHA demo: Explicit render after an onload callback</title>
  </head>
  <body>
    <form action="?" method="POST">
      <div id="html_element"></div>
      <br>
      <input type="submit" value="Submit">
      <p>Other</p>
    </form>
    <script type="text/javascript">
     
      console.log("script end");
      // Create the H1 element
      const h1 = document.createElement('h1');
      h1.textContent = 'hello';
      document.body.appendChild(h1);
    </script>
  </body>
</html>
