<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head', {}); %>
</head>

<body>

    <%- include('../../partials/header', {}); %>

        <div class="bg-white py-12 sm:py-16">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Chính sách bảo mật</h2>
                </div>
                <h2 class="text-1xl leading-8 text-gray-600 mt-2">1. Mục Đích</h2>
                <p>Chính sách này nhằm đảm bảo an toàn và bảo mật thông tin của khách hàng tại quầy thuốc phương thảo.
                    Chúng tôi cam kết bảo vệ quyền riêng tư và thông tin cá nhân của mọi người sử dụng dịch vụ của chúng
                    tôi.</p>

                <h2 class="text-1xl leading-8 text-gray-600 mt-2">2. Thu Thập Thông Tin</h2>
                <p>Chúng tôi chỉ thu thập thông tin cần thiết để cung cấp dịch vụ và chăm sóc khách hàng tốt nhất. Thông
                    tin này có thể bao gồm tên, địa chỉ, số điện thoại và thông tin y tế cần thiết để tư vấn về sản phẩm
                    phương thảo.</p>

                <h2 class="text-1xl leading-8 text-gray-600 mt-2">3. Bảo Mật Thông Tin</h2>
                <p>Chúng tôi cam kết duy trì mức độ cao nhất về bảo mật thông tin. Mọi dữ liệu cá nhân sẽ được lưu trữ
                    một cách an toàn và chỉ được truy cập bởi những người có quyền hạn cần thiết.</p>

                <h2 class="text-1xl leading-8 text-gray-600 mt-2">4. Chia Sẻ Thông Tin</h2>
                <p>Chúng tôi sẽ không chia sẻ thông tin cá nhân của khách hàng với bên thứ ba mà không có sự đồng ý rõ
                    ràng từ phía khách hàng, trừ khi cần thiết để tuân thủ theo quy định pháp luật.</p>

                <h2 class="text-1xl leading-8 text-gray-600 mt-2">5. An Toàn Giao Dịch</h2>
                <p>Chúng tôi sử dụng các phương tiện bảo mật điện tử để đảm bảo an toàn trong quá trình thanh toán và
                    giao dịch trực tuyến. Khách hàng nên giữ mật khẩu và thông tin tài khoản an toàn.</p>

                <h2 class="text-1xl leading-8 text-gray-600 mt-2">6. Đào Tạo Nhân Viên</h2>
                <p>Nhân viên sẽ được đào tạo về chính sách bảo mật và quy trình xử lý thông tin cá nhân. Họ sẽ được nhắc
                    nhở về tầm quan trọng của bảo vệ thông tin cá nhân của khách hàng.</p>

                <h2 class="text-1xl leading-8 text-gray-600 mt-2">7. Báo Cáo Sự Cố</h2>
                <p>Mọi sự cố hoặc nghi ngờ về việc vi phạm bảo mật sẽ được báo cáo và xử lý ngay lập tức để đảm bảo an
                    toàn cho thông tin cá nhân.</p>

                <h2 class="text-1xl leading-8 text-gray-600 mt-2">8. Đánh Giá và Cập Nhật</h2>
                <p>Chính sách này sẽ được xem xét định kỳ để đảm bảo nó vẫn phản ánh các tiêu chuẩn bảo mật hiện đại.
                    Bất kỳ thay đổi nào sẽ được thông báo đến khách hàng một cách minh bạch.</p>

                <h2 class="text-1xl leading-8 text-gray-600 mt-2">9. Liên Hệ</h2>
                <p>Nếu có bất kỳ câu hỏi hoặc lo ngại nào về chính sách bảo mật, khách hàng có thể liên hệ với chúng tôi
                    qua địa chỉ email hoặc số điện thoại được cung cấp trên trang web hoặc cửa hàng.</p>

                <p>Chúng tôi cam kết thực hiện chính sách bảo mật này một cách nghiêm túc để bảo vệ thông tin cá nhân
                    của khách hàng và duy trì niềm tin của họ vào dịch vụ của chúng tôi.</p>

            </div>
        </div>

        <%- include('../../partials/footer', {}); %>

</body>

</html>